<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/introduct_test/src/introduct_test/running.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="introduct_test.running"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="introduct_test"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="introduct_test"/>
</launchConfiguration>
